* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

header {
    background-color: #0c2c8f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.header h1 .Roo {
    color: #075f22;
}
header a {
  text-decoration: none;
  color: rgb(70, 14, 23);
  }

header nav {
  margin: 7px 0;
  font-style: inherit;
  }

  header nav {
  float: right;
  margin: 25px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 5px;
    font-weight: lighter;
    font-size: 1.55vw;
    
  /* hero Style Starts */
.hero {
  display: flex;
  justify-content: center;
  background-image: url("../images/portfolio.jpg");
  background-size: cover;
  background-position: center;
  align-items: flex-start;
 }