* 
{
  margin: 0;
  padding: 0;
  }

.container {
  padding: 25px, 35px;

}
  /* apply styles to header */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
  }

header a {
  text-decoration: none;
  color: #fce138;
  text-shadow: 2px 2px #ff0000;
  }

header nav {
  margin: 7px 0;
  float: right;
  margin: 7px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.65vw;
}
header h1 {
    font-weight: bold;
    font-family: fantasy;
    font-size: 24x;
    color: #fce138;
    margin: 0;
    text-align: center;
  }


/* header style end and section begins */

section {
  color: black
  font-size: 22px;
}

section h1 {
  text-shadow: 2px 2px #ff0000;
}

/* Hero Style Start */

.hero {
  background: url("../images/skull.jpg");
  padding: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
 }

/* begining of intro section */

.flew-row {
  display: flex;
}

.section-title, .secondary-border {
    font-size: 22px;
    font-family: cursive;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #024e76;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 22px;
    font-family: fantasy;
    margin: 0 auto;
    text-align: left;
}

div {
  padding: 5px;
}

.img1 {
  float: right;
}

.clearfix {
  overflow: auto;
}

/* end of intro - start of flex container */

.flex-container {
  display: flex;
  background-color: white;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  font-family: cursive;
}




.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}





.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}
.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}