* 
{
  margin: 0;
  padding: 0;
  }

:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

.container {
  padding: 25px, 35px;

}
  /* apply styles to header */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
  }

header a {
  text-decoration: none;
  color: #fce138;
  text-shadow: 2px 2px #ff0000;
  }

header nav {
  margin: 7px 0;
  float: right;
  margin: 7px 0;
  }

header nav ul {
  text-align: center;
  list-style: none;
}

header nav ul li a:hover {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.65vw;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
header h1 {
    font-weight: bold;
    font-family: fantasy;
    font-size: 24x;
    color: #fce138;
    margin: 0;
    text-align: center;
  }

/* header style end and section begins */

section {
  color: black
  font-size: 22px;
}

section h1 {
  text-shadow: 2px 2px #ff0000;
}

/* Hero Style Start */

.hero {
  background: url("../images/skull.jpg");
  padding: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
 }

/* begining of intro section */

.flew-row {
  display: flex;
  margin: right;
}

.section-title, .secondary-border {
    font-size: 22px;
    font-family: cursive;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-inline-end: 35px;
    color: #024e76;
}

.intro p {
    line-height: 1.7;
    color: black;
    width: 80%;
    font-size: 22px;
    font-family: fantasy;
    margin: 0 auto;
    text-align: left;
}

.img1 {
  float: right;
}



/* end of intro - start of flex container */

.flex-container {
  display: flex;
  background-color: white;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  font-family: fantasy;
}

.gradient {
  position: relative;
  min-height: 200px;
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(125, 100%, 50%),
    hsl(263, 100%, 40%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.gradient:hover::before {
  opacity: 1;
}

/* SERVICE STYLES START */
.services {
    background: aquamarine;
}

.service-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.service-grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    background:  rgb(255, 231, 224);
    width: 80%;
    border-left-style: solid;
    color: #760202;
    font-size: 1.2rem;
}

.service-grid-container2 {

    grid-template-columns: 1fr repeat(2, 2fr);
    background:  rgb(255, 231, 224);

    color: #760202;
    font-size: 1.2rem;
}

.service-grid-item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-grid-item.basic {
    grid-column: 2 / span 1;
}

.service-grid-item.contact {
    grid-column: 2 / span 1;
}

.service-grid-item.git {
    grid-column: 2 / span 1;
}

.service-grid-itemt.twitter {
    grid-column: 2 / span 1;
}

.service-grid-item.both {
    grid-column: 2 / span 2;
}

.service-grid-item.cancel {
    writing-mode: horizontal-tb;
    grid-column: 1;
    grid-row: 1 / -1;
    font-family: fantasy;
}

.grid-head, .grid-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.service-grid-item.cancel {
    font-size: 1.5rem;
    font-weight: bold;
    align-content: space-around;
}

/* Contact style */

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 8px;
  width: 25px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  color: blue;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.grid-item {
  justify-content: center;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 12px;
  background-color: aquamarine;
}

.grid-item:nth-child(3n) { 
  grid-column: span 3 ;
  grid-row: span 2;
}

/* contact style ends and footer starts  */

.simple-footer {
  font-family: "Fidelity Sans"; */
  width: 100%; */
  background-color: #F0F0F0;
  border-top: .0625em solid #CCC; */
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 1.5em 0 0;
}

/* footer ends and media query for smaller screens or mobile devices begins  */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
    }

    header h1 {
    margin: 0;
    text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

/* media query px size begin */
@media screen and (max-width: 768px) {
    section {
        padding: 30 px 15px;
    }
  }
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 0 100%;
    }
  }
@media screen and (max-width: 786px) {
    .service-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .service-grid-item.basic {
        grid-column: 1;
    }

    .service-grid-item.contact {
        grid-column: 1;
    }

    .service-grid-item.git {
        grid-column: 1;
    }

    .service-grid-item.twitter {
      grid-column: 1;
    }

  }
